.container{
    width: 1024px;
    margin: 0 auto;
    
   }

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
    color: #333
  }

header {
    background: #333;
    text-align: center;
  }
  

h1 {
   background-color: #333333;
   margin-bottom: 20px;
    color: #eee;
    font-size: 28px;
    text-align: center;
}

h2{ 
    font-size: 30px;
    text-align: center;

}

p {
    text-align: center;
}

#main-bio, 
#contact-info, 
#bio-image {
    float: left;
}

#bio-image1,
#bio-image2,
#bio-image3 {
    width: 300px;
    margin: .3cm;
}


#bio-image3 {
    margin-left: 40%;
}

#bio-image1{
    margin-left: 15%;
    float: left;
}

#contact-info {
    width: 30%;
    padding-top: 20%;
    
}

#main-bio {
    width: 70%;
}

a {
    color:#d21034;
}

.footer {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
   
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.fa:hover {
    opacity: 0.7;
}